.training{
    width: 100%;
    background-image: url("../../assets/training.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
};

.training-button{
    display:inline-block;
    margin-top: 28px;
    width: 150px;
    text-align: center;
    color: black;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 50px;
    transition: all .15s ease;
}

.training-button:hover{
    background-color: black;
    color: white;
}